body, html {
    height: 100%;
    margin:0!important;
    padding-right:0!important;
    font-size:20px;
    font-family:'Gill Sans', sans-serif;
    width:100%;
    height:100%;
  }
#home {
    /* The image used */
    background-image: url("image/gif/codinggirl.gif");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    color:white;
  }
  
#collapsing{
    background-color: black;
    width:100%;
    
  }
nav{
    width:100%;
}

.navbar-collapse{
    border:0;

}

.navbar-toggler-icon{
    height:30px;
    
    
}

.tagline {
    position:absolute;
    top:60%;
    left:35%;
    font-size:2rem;
    font-family:'OCR A Std', monospace;
}

.fa-caret-down, .fa-caret-up{
    color:white;
    
}
.navbar a:hover{
    color:#FF4081 !important;
}
.active {
    color:#FF4081 !important;
}

#services {
    margin-top:10;
}

.card-img-top {
    height:100px;
    width:100px ;
}

.data-bg {
    height:130px;
    width:130px;
    margin-bottom:20px;
}
#data1 {
    background-color:#FF8F97;
}
#data2 {
    background-color:#88FC9B;
}
#data3 {
    background-color:#77ECFF;
}
#data5 {
    background-color:rgb(255, 255, 94);
}
#data4 {
    background-color:rgb(156, 80, 226);
}
.margin {
    margin-bottom:100px;
}
#projects img{
    height:200px;
    width:300px;
    border:4px solid #FF4081;
}
#about .col-12{
    padding:0;
}
.jumbotron {
    height:20px;
    background:black;
    color:#FF4081;
    border-radius:0;
    margin:0!important;
    width:100%!important;
    font-family:'OCR A Std', monospace;
}
#pink, h4 {
    color:#FF4081 !important;
}
.card {
    border:0;
    
}
#services img{
 position:relative;
 left:15px;
 top:10px;
}
h2 {
    font-weight:900;
}
.progress-bar {
    background:#FF4081;
}
.progress {
    background:#F9E5F1;
}
.fa-comment-alt{
    position:relative;
    bottom:20px;
}
h3{
    color:#FF4081 ;
}

#about ul {
    list-style: none;
  }
#about li {
    padding:0;
    margin:0;
}
  


#about .col-md-4{
 padding:0;
  }

#contact .container-fluid{
    border:1px ;
    border-top-left-radius: 300px;
    background:white;
    padding:0;
}
#contact {
    background:black;
    
}
footer {
    background:#FF4081;
    color:white;
    margin:0 !important;
}
.fa-github,.fa-twitter,.fa-linkedin,.fa-instagram {
    color:white;

}
.btn{
    background:#FF4081;
    color:white;
}
#home .btn, #contact a .btn {
    background:#FF4081;
    height:30px;
    width:30px;
}

#about p {
   
    font-size:1rem;
}
nav {
    background:black;
    height:60px;
}
.transform {
    border:3px solid #FF4081;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}


@media (max-width:600px) {
    .jumbotron {
        height: 140px!important;
    }
    
    .tagline {
        top:40%;
        left:7%!important;
        font-size: 250px!important;
    }
    #home{
        background-image: url("image/gif/blacksky.gif");
        height:90vh;
    }
}

@media (max-width:950px) {
    .tagline {
        top:40%;
        left:10%;
        font-size: 30px!important;
    }
}


@media (max-width:1200px) {
    .tagline {
        
        left:20%;
        
    }
}